@model List<SkyEggJoinModel>
@section productsStyle{
    <link rel="stylesheet" href="~/css/Products.css" />
}
<div class="products-container">
    @foreach (var product in Model)
    {
        //var path = "~/images/" + (product.PhotoPath ?? "Humidifiers .jpg");
       
    <div class="card product-box" style="width: 18rem;">
        @if (product.Photos.Any())
        {
            <img src="~/images/@product.Photos.FirstOrDefault().PhotoPath" asp-append-version="true" class="card-img-top" alt="product image">
        }
        else
        {
            <img src="~/images/Humidifiers .jpg" asp-append-version="true" class="card-img-top" alt="product image">
        }
        <div class="card-body">
            <h5 class="card-title">@product.SkyEggProduct.ProductName</h5>
            <p class="card-text">@product.SkyEggProduct.Prise€</p>
            <div class="links">
                <a asp-controller="collections" asp-action="Read" asp-route-id="@product.SkyEggProduct.Id" class="btn btn-primary">View</a>
                <a asp-controller="collections" asp-action="Delete" asp-route-id="@product.SkyEggProduct.Id" asp-route-_categorie="@product.SkyEggProduct.Categrie" class="btn bg-danger">Delete</a>
                <a asp-controller="Collections" asp-action="Update" asp-route-id="@product.SkyEggProduct.Id" class="btn bg-info text-dark">Updates</a>
            </div>
        </div>
    </div>
        }
    </div>
@if(!Model.Any())
{
    <div>
        out of stock
    </div>
}